.App {
  text-align: center;
}

.titulo{
  margin: 10px auto;
  width: 80%;
 
  background-color: #efefef;
  border-radius: 15px;
}

.ContainerTodoList{
  width: 80%;
  margin: 0 auto;
  background-color:#162e54;
  border-radius: 15px;
  padding-bottom: 15px;

}

.ContainerTarefa textarea{
  margin: 50px auto;
  display: block;
  width: 90%;
  height:55px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;

}

.ContainerTarefa button{
  margin-bottom: 10px;
  margin-top: -20px;
  
}

.ContainerTodoList .Todo{
  margin: 15px auto;
  border: 1px solid black;
  width: 90%; /* define a largura da div */
  padding: 15px;
  border-radius: 15px;


}



.ContainerTodoList h2{
  font-family: 'Dongle';
  font-size: 50px;
  border-bottom: 1px solid #efefef;
  color: white;
}

.ContainerTodoList h3{
  color: #efefef;
  word-wrap: break-word; /* faz com que o texto seja quebrado em várias linhas */
  font-family: 'Dongle';
  font-size: 30px;
  
}



.ContainerTodoList input[type=submit]{
  font-family: 'Dongle';
  font-size: 20px;
}
.ContainerTodoList .acoes span svg{
  width: 25px;
  height: 25px;
  margin: 10px 40px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  
  
}