.App {
  text-align: center;
}

.titulo{
  width: 100%;
  height: 100px;
  background-color: #efefef;
}

.ContainerTodoList{
  width: 40%;
  margin: 0 auto;
  background-color: blue;
  border-radius: 3%;

}

.ContainerTarefa input{
  margin: 20px auto;
  display: block;
}

.ContainerTodoList .Todo{
  margin: 5% auto;
  border: 1px solid black;
  width: 90%; /* define a largura da div */
  height: 150px; /* define a altura da div */


}

.ContainerTodoList h3{
  color: white;
  word-wrap: break-word; /* faz com que o texto seja quebrado em várias linhas */
}

.ContainerTodoList .acoes button{
  margin: auto 2px;
}